.body {
  color: #fff;
  font-size: 14px;
  letter-spacing: 1px;
  margin: 0px;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.4);
}

.titleText {
  position: absolute;
  width: 100%;
  height: 250px;
  top: 50%;
  z-index: 6;
  text-align: center;
  margin-top: -125px;
}

.titleText .heading p {
  color: #fff;
  text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
  font-weight: 100;
  letter-spacing: 7px;
}
.titleText .heading .main {
  font-size: 50px;
}

.titleText .heading .sub {
  font-size: 23px;
}

.section {
  padding: 100px 0;
}

.aboutImage {
  max-width: 100%;
}

.skillsSection,
.contactSection {
  background-color: #80a1c1;
  color: #fff;
}
.skill {
  text-align: center;
  margin-left: 10px;
}

.chart {
  position: relative;
  width: 152px;
  height: 152px;
  display: inline-block;
  text-align: center;
}

.chart canvas {
  position: absolute;
  left: 0;
  top: 0;
}

.chart .percent {
  color: #000;
  line-height: 152px;
  display: inline-block;
  font-size: 35px;
}

.chart .percent:after {
  content: "%";
}

.squareItem {
  margin-top: 30px;
  position: relative;
}

.squareInnerContainer {
  position: relative;
  padding: 50px 15px 35px;
  text-align: center;
  border: 2px solid #444;
  border-top: none;
}

.squareInnerContainer:before,
.squareInnerContainer:after {
  content: "";
  position: absolute;
  top: 0px;
  width: 30%;
  border-bottom: 2px solid #444;
}

.squareInnerContainer:before {
  right: 0px;
}
.squareInnerContainer:after {
  left: 0px;
}

.squareContent h2 {
  font-size: 56px;
  margin-bottom: 10px;
  font-weight: 400;
  color: #d5996f;
}

.squareContent h3 {
  font-size: 13px;
  font-weight: 600;
  margin: 0;
}

.squareIcon {
  position: absolute;
  left: 50%;
  top: -30px;
  width: 40%;
  height: 60px;
  font-size: 45px;
  margin-left: -20%;
  color: #375666;
}
.contactButton {
  color: #fff;
  padding: 15px 20px;
  display: inline-block;
  margin-top: 20px;
  border: 1px solid #fff;
  border-radius: 2px;
}

.contactButton:hover {
  text-decoration-color: none;
  color: #d5996f;
  background-color: white;
}

.filter a {
  color: #9eb3c2;
  border: 1px solid #9eb3c2;
  padding: 10px 18px;
  display: block;
}

.filter li {
  display: inline-block;
  padding: 5px;
}

.filter .current {
  background-color: #80a1c1;
  border-color: #80a1c1;
  color: #fff;
}

.filter {
  text-align: center;
  width: 100%;
}

.section .heading {
  text-align: center;
  padding-bottom: 40px;
  width: 100%;
}

.items li {
  display: inline-block;
  padding: 5px;
}

.itemsContainer {
  width: 100%;
  -webkit-transition: all 0.2s, linear, 1s;
  -moz-transition: all 0.2s, linear, 1s;
  -o-transition: all 0.2s, linear, 1s;
  -ms-transition: all 0.2s, linear, 1s;
  -transition: all 0.2s, linear, 1s;
}

.items li img {
    width: 100%;
}

.items .item {
    position: relative;
    display: block;
    overflow: hidden;
}

.icons {
    position: absolute;
    width: 90px;
    height: 40px;
    left: 50%;
    top: 50%;
    margin: -20px auto 0 -47px;
    text-align: center;
    z-index: 3;
}

.items .icons i {
    color:#fff;
    font-size: 20px;
    margin-top: 9px;
}

.items a {
    width: 40px;
    height: 40px;
    background-color: #80a1c1;
    position: relative;
    display: inline-block;

    -webkit-transition: all 0.2s, linear, 0.2s;
    -moz-transition: all 0.2s, linear, 0.2s;
    -o-transition: all 0.2s, linear, 0.2s;
    -ms-transition: all 0.2s, linear, 0.2s;
    -transition: all 0.2s, linear, 0.2s;
}

.items .imageOverlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;

    -webkit-transition: all 0.2s, linear, 1s;
    -moz-transition: all 0.2s, linear, 1s;
    -o-transition: all 0.2s, linear, 1s;
    -ms-transition: all 0.2s, linear, 1s;
    -transition: all 0.2s, linear, 1s;

}

.items .item:hover .imageOverlay {
    opacity: 1;
}

.items .openButton {
    float: left;
    left: -200px;
}

.items .projectLink {
    float: right;
    right: -200px;

}

.items .item:hover .openButton {
left: 0px;
}

.items .item:hover .projectLink {
right: 0px;
}

.items .item:hover img {
    -webkit-transform: scale(1.05, 1.05);
    -moz-transform: scale(1.05, 1.05);
    -o-transform: scale(1.05, 1.05);
    -ms-transform: scale(1.05, 1.05);
    -transform: scale(1.05, 1.05);
}

.items {
    padding: 0;
}